<html>
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
        <meta name="keywords" content="仁和信访" />
        <meta name="description" content="仁和信访"/>
        <title>"仁和信访"</title>
        <link type="text/css" rel="stylesheet" href="{$smarty.const.CSS_URL}style.css" />
        <link type="text/css" rel="stylesheet" href="{$smarty.const.CSS_URL}bottom.css" />     
        <script type="text/javascript" src="{$smarty.const.JS_URL}jquery1.4.2.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.JS_URL}banner.js"></script>        

        <script type="text/javascript" src="{$smarty.const.JS_URL}jquery-2.1.0.min.js"></script>
        <link rel="stylesheet" href="{$smarty.const.CSS_URL}layer.css" />
        <script type="text/javascript" src="{$smarty.const.JS_URL}fastclick.js"></script>
        <script type="text/javascript" src="{$smarty.const.JS_URL}layer.js"></script>
        <!--图片上传-->
        <script type='text/javascript' src='{$smarty.const.LIB_URL}js/upload_js/jquery-2.0.3.min.js'></script>
        <script type='text/javascript' src='{$smarty.const.LIB_URL}js/upload_js/LocalResizeIMG.js'></script>
        <script type='text/javascript' src='{$smarty.const.LIB_URL}js/upload_js/patch/mobileBUGFix.mini.js'></script>
        <!--时间选择-->
        <script type='text/javascript' src='{$smarty.const.LIB_URL}js/timechoose.js'></script>
        <link rel="stylesheet" href="{$smarty.const.CSS_URL}timechoose.css" />        
    </head>
    <body >        
        {block name="main"}{/block}
        {include file="../Common/bottom.html"}        
    </body>
</html>
