<html>
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
        <meta name="keywords" content="仁和信访" />
        <meta name="description" content="仁和信访"/>
        <title>"仁和信访"</title>
        <link type="text/css" rel="stylesheet" href="{$smarty.const.CSS_URL}style.css" />
        <link type="text/css" rel="stylesheet" href="{$smarty.const.CSS_URL}bottom.css" /> 
        <link type="text/css" rel="stylesheet" href="{$smarty.const.CSS_URL}dropload.css" />
        <script type="text/javascript" src="{$smarty.const.JS_URL}zepto.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.JS_URL}dropload.min.js"></script>	
        <script type="text/javascript" src="{$smarty.const.JS_URL}layer.js"></script>        
    </head>
    <body >        
        {block name="main"}{/block}
        {include file="../Common/bottom.html"}        
    </body>
</html>
