{extends "../Common/defaultJamp.html"}
{block name="main"}
<div id="page1" data-role="page">
    <div id="contt" data-role="content" class="contt_padd">
        <div class="top_lanm">
            <div class="return_img"><a href="javascript:history.go(-1);"><img src="{$smarty.const.IMG_URL}return.png" width="100%"></a></div>
            <div class="details_title middle_center bgcolor">关于我们</div>
        </div>       
       <div class="clear"></div>
        <div class="only_line"></div>        
        <div class="clear"></div>
        <div class="myjob_box">       
        <div class="news_lanm_content_box" >
            <div class="about_img"><img src="{$smarty.const.IMG_URL}about.png"></div>
            <div class="about_text middle_center" style="height: 55%">               
                微信公众号：仁和区群众意见受理中心<br>
                客服电话：<span style="color:#4697e9">0812-5109555</span><br>
                官方网址：<a href="http://www.renhexf.com"  class="about_text" style="color:#4697e9">http://www.renhexf.com </a>
            </div>           
        </div>
       </div>
    </div>
</div>
{/block}


