{extends "../Common/defaultNei.html"}
{block name="main"}
<div id="page1" data-role="page">
    <div id="contt" data-role="content"> 
        <div class="top_lanm">
            <div class="return_img"><a href="javascript:history.go(-1);" ><img src="{$smarty.const.IMG_URL}return.png" width="100%"></a></div>
            <div class="details_title middle_center bgcolor" id="newstitle">我的收藏</div>
        </div>
        <div class="clear"></div>
        <div class="only_line"></div>        
        <div class="clear"></div>        
        <div class="sear_box">
            <input type="text" value="" placeholder="搜索…" class="sear" id="sear"/>
            <a href="#"><div class="sear_fd"><img src="{$smarty.const.IMG_URL}sear.png" height="16" width="16" id="searImg"></div></a>
        </div>
        
        <div class="clear"></div>
        <div class="myjob_box"> 
            <div id="navtab">
                <ul class="title mycollection_line" >
                    <li class="active" id="all0">全部</li>
                    <li id="all1">新闻</li>
                    <li id="all2">公告</li>
                    <li id="all14">指南</li>
                </ul>            
                <ul class="lilie">
                    <li>
                        <div class="myjob_box">
                            <div id="lei0"></div>                                              
                        </div>
                    </li>
                    <li style="display:none">
                        <div class="myjob_box">
                            <div id="lei1"></div>                                              
                        </div>
                    </li>
                    <li style="display:none">
                        <div class="myjob_box">
                            <div id="lei2"></div>                                              
                        </div> 
                    </li>
                    <li style="display:none">
                        <div class="myjob_box">
                            <div id="lei14"></div>                                              
                        </div>  
                    </li>
                </ul>
                <div class="clear"></div>        
            </div>
        </div>       
    </div>
</div>
<script type="text/javascript">
  
   
       
    $('#sear').on("focus",function(){
        location.href = "../myinfo/myCollectionSear";
    });
    

    $(function () {
        $("#navtab .title li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
            var index = $(this).index();
            var li = $(this).parent().next().children();
            $(li[index]).show().siblings().hide();
            //var lid = $(".active").attr("id");            
        });

        $.ajax({
            type: "GET",
            url: "../myinfo/myCollectionAction/id/0",
            success: function (msg) {			
                var data = JSON.parse(msg);
                //var liNum = $(".lilie>li").index();
                if (data.datalist == '') {
                    $("#lei0").html("<p style='padding:10px 0px 25px 20px; color:#666'>暂无信息！</p>");
                }
				
                for (var i = 0; i < data.datalist.length; i++) {
                    $("#lei0").prepend("\
                            <a href='../news/shownews/dl/"+data.datalist[i].modeltype+"/id/" + data.datalist[i].id + "'><div class='wdinfo'><div class='wdinfo_pic left'><img src='" + data.datalist[i].picurls[0].largepic + "' width='120' height='86'></div><div class='news_nei_text'><div class='wdinfo_titile titlen0" + i + " mycollection_title'>" + data.datalist[i].title + "</div><div class='news_date'><span class='laiyuana" + i + "'>" + data.datalist[i].origin + '</span> ' + data.datalist[i].publishtime + "</div></div></div></a><div class='clear'></div><div class='news_bottom_nei '></div><div class='clear'></div> ");
                    if ($(".titlen0" + i).text().length > 10) {
                        $(".titlen0" + i).text($(".titlen0" + i).text().substring(0, 10));
                        $(".titlen0" + i).html($(".titlen0" + i).html() + "...");
                    }
                    if ($(".laiyuana" + i).text().length > 5) {
                            $(".laiyuana" + i).text($(".laiyuana" + i).text().substring(0, 5));
                            $(".laiyuana" + i).html($(".laiyuana" + i).html() + "...");
                        }
                    if (data.datalist[i].picurls[0].largepic == '') {
                        $(".wdinfo_pic img").attr("src", '{$smarty.const.IMG_URL}nopic.jpg');
                    }
                }
            }
        });

        $("#all0").click(function () {
            $("#lei0").html("");
            $.ajax({
                type: "GET",
                url: "../myinfo/myCollectionAction/id/0",
                success: function (msg) {
                    var data = JSON.parse(msg);
                    //var liNum = $(".lilie>li").index();
                    if (data.datalist == '') {
                        $("#lei0").html("<p style='padding:10px 0px 25px 20px; color:#666'>暂无信息！</p>");
                    }
                    for (var i = 0; i < data.datalist.length; i++) {
                        $("#lei0").prepend("\
                            <a href='../news/shownews/dl/0/id/" + data.datalist[i].id + "'><div class='wdinfo'><div class='wdinfo_pic left'><img src='" + data.datalist[i].picurls[0].largepic + "' width='120' height='86'></div><div class='news_nei_text'><div class='wdinfo_titile titlen00" + i + " mycollection_title'>" + data.datalist[i].title + "</div><div class='news_date'><span class='laiyuanb" + i + "'>" + data.datalist[i].origin + '</span> ' + data.datalist[i].publishtime + "</div></div></div></a><div class='clear'></div><div class='news_bottom_nei '></div><div class='clear'></div> ");
                        if ($(".titlen00" + i).text().length > 10) {
                            $(".titlen00" + i).text($(".titlen00" + i).text().substring(0, 10));
                            $(".titlen00" + i).html($(".titlen00" + i).html() + "...");
                        }
                        if ($(".laiyuanb" + i).text().length > 5) {
                            $(".laiyuanb" + i).text($(".laiyuanb" + i).text().substring(0, 5));
                            $(".laiyuanb" + i).html($(".laiyuanb" + i).html() + "...");
                        }
                        if (data.datalist[i].picurls[0].largepic == '') {
                            $(".wdinfo_pic img").attr("src", '{$smarty.const.IMG_URL}nopic.jpg');
                        }
                    }
                }
            });
        });

        $("#all1").click(function () {
            $("#lei1").html("");
            $.ajax({
                type: "GET",
                url: "../myinfo/myCollectionAction/id/1",
                success: function (msg) {
                    var data = JSON.parse(msg);
                    //var liNum = $(".lilie>li").index();
                    if (data.datalist == '') {
                        $("#lei1").html("<p style='padding:10px 0px 25px 20px; color:#666'>暂无信息！</p>");
                    }
                    for (var i = 0; i < data.datalist.length; i++) {
                        $("#lei1").prepend("\
                            <a href='../news/shownews/dl/1/id/" + data.datalist[i].id + "'><div class='wdinfo'><div class='wdinfo_pic left'><img src='" + data.datalist[i].picurls[0].largepic + "' width='120' height='86'></div><div class='news_nei_text'><div class='wdinfo_titile titlen1" + i + " mycollection_title'>" + data.datalist[i].title + "</div><div class='news_date'><span class='laiyuanc" + i + "'>" + data.datalist[i].origin + '</span> ' + data.datalist[i].publishtime + "</div></div></div></a><div class='clear'></div><div class='news_bottom_nei '></div><div class='clear'></div> ");
                        if ($(".titlen1" + i).text().length > 10) {
                            $(".titlen1" + i).text($(".titlen1" + i).text().substring(0, 10));
                            $(".titlen1" + i).html($(".titlen1" + i).html() + "...");
                        }
                        if ($(".laiyuanc" + i).text().length > 5) {
                            $(".laiyuanc" + i).text($(".laiyuanc" + i).text().substring(0, 5));
                            $(".laiyuanc" + i).html($(".laiyuanc" + i).html() + "...");
                        }
                        if (data.datalist[i].picurls[0].largepic == '') {
                            $(".wdinfo_pic img").attr("src", '{$smarty.const.IMG_URL}nopic.jpg');
                        }
                    }
                }
            });
        });

        $("#all2").click(function () {
            $("#lei2").html("");
            $.ajax({
                type: "GET",
                url: "../myinfo/myCollectionAction/id/2",
                success: function (msg) {
                    var data = JSON.parse(msg);
                    //var liNum = $(".lilie>li").index();
                    if (data.datalist == '') {
                        $("#lei2").html("<p style='padding:10px 0px 25px 20px; color:#666'>暂无信息！</p>");
                    }
                    for (var i = 0; i < data.datalist.length; i++) {
                        $("#lei2").prepend("\
                            <a href='../news/shownews/dl/2/id/" + data.datalist[i].id + "'><div class='wdinfo'><div class='wdinfo_pic left'><img src='" + data.datalist[i].picurls[0].largepic + "' width='120' height='86'></div><div class='news_nei_text'><div class='wdinfo_titile titlen2" + i + " mycollection_title'>" + data.datalist[i].title + "</div><div class='news_date'><span class='laiyuand" + i + "'>" + data.datalist[i].origin + '</span> ' + data.datalist[i].publishtime + "</div></div></div></a><div class='clear'></div><div class='news_bottom_nei '></div><div class='clear'></div> ");
                        if ($(".titlen2" + i).text().length > 10) {
                            $(".titlen2" + i).text($(".titlen2" + i).text().substring(0, 10));
                            $(".titlen2" + i).html($(".titlen2" + i).html() + "...");
                        }
                        if ($(".laiyuand" + i).text().length > 5) {
                            $(".laiyuand" + i).text($(".laiyuand" + i).text().substring(0, 5));
                            $(".laiyuand" + i).html($(".laiyuand" + i).html() + "...");
                        }
                        if (data.datalist[i].picurls[0].largepic == '') {
                            $(".wdinfo_pic img").attr("src", '{$smarty.const.IMG_URL}nopic.jpg');
                        }
                    }
                }
            });
        });

        $("#all14").click(function () {
            $("#lei14").html("");
            $.ajax({
                type: "GET",
                url: "../myinfo/myCollectionAction/id/3",
                success: function (msg) {
                    var data14 = JSON.parse(msg);
                    //var liNum = $(".lilie>li").index();
                    if (data14.datalist == '') {
                        $("#lei14").html("<p style='padding:10px 0px 25px 20px; color:#666'>暂无信息！</p>");
                    }


                    for (var i = 0; i < data14.datalist.length; i++) {

                        $("#lei14").prepend("\
                            <a href='../news/shownews/dl/14/id/" + data14.datalist[i].id + "'><div class='wdinfo'><div class='wdinfo_pic left'><img src='" + data14.datalist[i].picurls[0].largepic + "' width='120' height='86'></div><div class='news_nei_text'><div class='wdinfo_titile titlen14" + i + " mycollection_title'>" + data14.datalist[i].title + "</div><div class='news_date'><span class='laiyuane" + i + "'>" + data14.datalist[i].origin + '</span> ' + data14.datalist[i].publishtime + "</div></div></div></a><div class='clear'></div><div class='news_bottom_nei '></div><div class='clear'></div> ");
                        if ($(".titlen14" + i).text().length > 10) {
                            $(".titlen14" + i).text($(".titlen14" + i).text().substring(0, 10));
                            $(".titlen14" + i).html($(".titlen14" + i).html() + "...");
                        }
                        if ($(".laiyuane" + i).text().length > 5) {
                            $(".laiyuane" + i).text($(".laiyuane" + i).text().substring(0, 5));
                            $(".laiyuane" + i).html($(".laiyuane" + i).html() + "...");
                        }
                        if (data14.datalist[i].picurls[0].largepic == '') {
                            $(".wdinfo_pic img").attr("src", '{$smarty.const.IMG_URL}nopic.jpg');
                        }
                    }
                }
            });
        });

    });
</script>

{/block}
