{extends "../Common/defaultNei.html"}
{block name="main"}
<div id="page1" data-role="page">
    <div id="contt" data-role="content" class="contt_padd"> 
        <div class="top_lanm">
            <div class="return_img"><a href="javascript:history.go(-1);"><img src="{$smarty.const.IMG_URL}return.png" width="100%"></a></div>
            <div class="details_title middle_center bgcolor">投诉详情</div>
        </div>
        <div class="clear"></div>
        <div class="fenge_one"></div>
        <div class="clear"></div>
        <div class="myjob_box">                                   
            <div class="details_content_text " >
                <ul>
                    <li class="details_content_text_title ">投诉标题：</li>
                    <li ><div class="details_content_text_con" id="biaoti"></div></li>
                </ul>
                <div class="clear"></div>
                <ul>
                    <li class="details_content_text_title ">事发时间：</li>
                    <li class="details_content_text_con " id="shifasj"></li>
                </ul>
                <div class="clear"></div>
                <ul>
                    <li class="details_content_text_title ">事发地址：</li>
                    <li class="details_content_text_con " id="shifadz"></li>
                </ul>
                <div class="clear"></div>
                <ul>
                    <li class="details_content_text_title ">投诉内容：</li>
                    <li class="details_content_text_con ">
                        <div class="qian" id="tousulr"></div>
                        <div class='shouqi  program_xqn' style="display: none">向上收起∧</div>
                    </li>
                </ul>
                <div class="clear"></div>
                <ul id="pic">
                    <li class="details_content_text_title ">相关图片：</li>
                    <li class="details_content_text_con ">
                        <div class="details_content_text_pic "></div>
                    </li>
                </ul>
                <div class="clear"></div>
                <ul>
                    <li class="details_content_text_title" >投诉编号：</li>
                    <li class="details_content_text_con " id="tousubh"></li>
                </ul>
                <div class="clear"></div>
                <ul>
                    <li class="details_content_text_title ">投诉时间：</li>
                    <li class="details_content_text_con " id="toususj"></li>
                </ul>                    
            </div> 
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="only_line"></div>        
        <div class="clear"></div>
    </div>        
</div>
<script type="text/javascript">
    $(function () {
        var id = "{$smarty.get.id}";
        $.ajax({
            type: "POST",
            url: "../../../Complaints/ComplaintsDetailsAction/id/" + id,
            success: function (msg) {
                //alert(msg);                
                var data = JSON.parse(msg);
                $("#biaoti").html(data.title);
                $("#toususj").html(data.createtime);
                $("#shifadz").html(data.address);
                $("#tousulr").html(data.content);
                $("#biaoti").html(data.title);
                $("#tousubh").html(data.id);
                $("#shifasj").html(data.operationtime);
				//显示字数控制
				var maxwidth = 42;//设置最多显示的字数
				var text = $("#tousulr").html();				
				if ($(".qian").text().length > maxwidth) {
					$(".qian").text($(".qian").text().substring(0, maxwidth));
					$(".qian").html($(".qian").html() + "..." + "<div class='program_xqn '>显示全部∨</div>");
				}
				$(".qian").click(function () {
					$(this).text(text);
					$(".shouqi").show();
				});
				$(".shouqi").click(function () {                    
					var text = $(this).text();
					if ($(".qian").text().length > maxwidth) {
						$(".qian").text($(".qian").text().substring(0, maxwidth));
						$(".qian").html($(".qian").html() + "..." + "<div class='program_xqn'>显示全部∨</div>");
					}
					$(".shouqi").hide();
				});
                for (var i = 0; i <= 10; i++) {
                    if(data.picurls==null){
                        $("#pic").css("display","none");
                    }
                    $(".details_content_text_pic").prepend('<div><a href="' + data.picurls[i].largepic + '"><img src="' + data.picurls[i].largepic + '" width="60" height="60"></a></div>');
                }				

            }
        });


    });
</script>
{/block}
